<a href="https://colab.research.google.com/github/htngntks/TDTT_Thuchanh_NguyenTienHai_25021750/blob/main/thuchanh6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#W6A1
lst = list(map(int, input().split()))
dem = {}
res = []
for i in range(len(lst)):
    if lst[i] not in dem:
        dem[lst[i]] = True
        res.append(lst[i])
print(res)

1 3 3 5
[1, 3, 5]

In [ ]:
#W6A2
def tong(lst, n):
  tong = lst[0]
  for i in range (1, n):
    tong += lst[i]
  return tong
lst = list(map(int, input().split()))
res = []
for i in range(len(lst)):
    res.append(tong(lst, i+1))
print(res)

5
[5]

In [ ]:
#W6A3
nums = tuple(map(int, input().split()))
k = int(input())
print(nums[k:]+nums[0:k])

0 0 1
1
(0, 1, 0)

In [ ]:
#W6A4
def tao_dict(lst):
  dct = {}
  for cap in lst:
    key, value = cap.split(":", 1)
    if key in dct:
      dct[key].append(value)
    else:
      dct[key] = [value]
  return dct
lst = list(map(str, input().split()))
print(tao_dict(lst))

id:1 id:2 id:1
{'id': ['1', '2', '1']}

In [ ]:
#W6A5
def dem_so(lst):
  duong = 0
  am = 0
  khong = 0
  for i in lst:
    if i > 0:
      duong += 1
    elif i < 0:
      am += 1
    else:
      khong += 1
  res = {'positives': duong, 'negatives': am, 'zeros': khong}
  return res
nums = list(map(int, input().split()))
print(dem_so(nums))

-1 -2 -3
{'positives': 0, 'negatives': 3, 'zeros': 0}

In [ ]:
#W6A6
lst = list(map(int, input().split()))
print(sum(lst))

1 2 3 4
10

In [ ]:
#W6A7
tpe = list(map(int, input().split()))
if len(tpe) >= 2:
    print(tpe[0], tpe[1], tuple(tpe[::-1]))
elif len(tpe) == 1:
    print(tpe[0], tpe[0], tuple(tpe[::-1]))
else:
    print(tuple())

1
1 1 (1,)

In [ ]:
#W6A8
lst = list(map(str, input().split()))
res = {}
for i in range(len(lst)):
    if lst[i] not in res:
        res[lst[i]] = 1
    else:
        res[lst[i]] += 1
print(res)

apple banana apple
{'apple': 2, 'banana': 1}

In [25]:
#W6A9
d1 = eval(input())
d2 = eval(input())

for k in d2:
    if k in d1:
        d1[k] = d1[k] + d2[k]
    else:
        d1[k] = d2[k]
keys = list(d1.keys())
n = len(keys)
for i in range(n):
    for j in range(0, n - i - 1):
        if keys[j] > keys[j + 1]:
            temp = keys[j]
            keys[j] = keys[j + 1]
            keys[j + 1] = temp
ket_qua = {}
for k in keys:
    ket_qua[k] = d1[k]
print(ket_qua)

{}
{'x': 1}
{'x': 1}

In [21]:
#W6A10
lst = list(map(int, input().split()))
k = int(input())
ket_qua_set = set()
n = len(lst)
for i in range(n):
  for j in range(i + 1, n):
    if lst[i] + lst[j] == k:
      pair = (lst[i], lst[j])
      ket_qua_set.add(pair)
print(sorted(list(ket_qua_set)))

1 2 3 2 1
4
[(1, 3), (2, 2), (3, 1)]

In [ ]:
#W6A11
tpe = tuple(map(int, input().split()))
chan = []
le = []
for i in tpe:
  if i % 2 == 0:
    chan.append(i)
  else:
    le.append(i)
print(tuple(chan))
print(tuple(le))

2 4 6 8
(2, 4, 6, 8)
()

In [ ]:
#W6A12
nums = list(map(int, input().split()))
dct = {}
for i in nums:
  if i not in dct:
    dct[i] = 1
  else:
    dct[i] += 1
maxx = max(dct.values())
res = [x for x in dct if dct[x] == maxx]
print(min(res))

100
100

In [ ]:
#W6A13
a = list(map(str, input().split()))
dct = {}
for i in range (0, len(a), 2):
  dct[a[i+1]] = a[i]
print(dct)

code A-1 user B_2
{'A-1': 'code', 'B_2': 'user'}

In [ ]:
#W6A14
lst1 = list(map(int, input().split()))
lst2 = list(map(int, input().split()))
res = []
for i in lst1:
  if i in lst2:
    if i not in res:
      res.append(i)
print(res)

1 2 3
4 5 6
[]

In [ ]:
#W6A15
lst = list(map(str, input().split()))
k = int(input())
dct = {}
for i in range(0, len(lst), 2):
  dct[lst[i]] = lst[i+1]
res = {}
for i in dct:
  if int(dct[i]) > k:
    res[i] = dct[i]
print(res)

a 10 b 20 c 30
100
{}

In [1]:
#W6A16
n, m = map(int, input().split())
mtr = []
for i in range(n):
  mtr.append(list(map(int, input().split())))
for hang in mtr:
  for so in hang:
    print(f"{so:>4}", end = '')
  print()

2 3
1 2 3
4 5 6
   1   2   3
   4   5   6

In [2]:
#W6A17
n = int(input())
mtr = []
for i in range(n):
  mtr.append(list(map(int, input().split())))
chinh = ''
phu = ''
for i in range(n):
  chinh += str(mtr[i][i]) + ' '
  phu += str(mtr[i][n-i-1]) + ' '
print(chinh)
print(phu)

3
1 3 4
2 4 5
4 3 5
1 4 5
4 4 4

In [4]:
#W6A18
n, m, k = map(int, input().split())
mtr = []
k -=1
for i in range(n):
  mtr.append(list(map(int, input().split())))
tong_cot_k = 0
tong_hang_k = 0
for i in range(n):
  tong_cot_k += mtr[i][k]
for i in range(m):
  tong_hang_k += mtr[k][i]
print(tong_cot_k)
print(tong_hang_k)

2 2 2
1 3
4 6
9
10

In [11]:
#W6A19
def maxvalue(lst):
  if len(lst) < 1:
    return -1
  max_value = lst[0]
  index = 0
  for i in range(1, len(lst)):
    if lst[i] > max_value:
      max_value = lst[i]
      index = i
  return index + 1
nums = list(map(int, input().split()))
print(maxvalue(nums))

1 5 5 2 3 4
2

In [12]:
#W6A20
def find_nums(lst, k):
  for i in range(len(lst)):
    if lst[i] == k:
      return i + 1
  return -1
lst = list(map(int, input().split()))
k = int(input())
print(find_nums(lst, k))

 2 3 4 5 -6 7 8 19 1 2 3 4 5
5
4

In [17]:
#W6A21
s = input()
lst = s.split(" ")
dct = {}
for i in range(len(lst)):
  if lst[i] not in dct:
    dct[lst[i]] = [i]
  else:
    dct[lst[i]].append(i)
for i in dct:
  dct[i] = tuple(dct[i])
print(dct)

a b c d a b
{'a': (0, 4), 'b': (1, 5), 'c': (2,), 'd': (3,)}

In [ ]:
#W6A22
lst = list(map(int, input().split()))
print(lst.index(max(lst))+1)

34 25 67 89 100 1000
6